# function estimation using neural network

In [84]:
import numpy as np
import pandas as pd 
import os
import glob

In [85]:
from preprocess_tweets import normalizeTweet

In [86]:
# Mode A: read in a csv file
os.chdir("C:/Users/Gary/Desktop/Year 1 Sem 2/CS5246 Text Mining/Group Project/depression-detector/data/")
file = "checkpoint_1000000.csv"
df_orig = pd.read_csv('checkpoint_1000000.csv')

C:\Users\Gary\AppData\Local\Temp\ipykernel_5124\3079759067.py:3: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orig = pd.read_csv('checkpoint_1000000.csv')

In [87]:
# # Mode B: read in a folder of csv files
# os.chdir("C:/Users/Gary/Desktop/Year 1 Sem 2/CS5246 Text Mining/Group Project/depression-detector/data/CSV Files Per Label")

# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

# # combine all files in the list
# df_orig = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [88]:
#show first 5 rows
df_orig.head()

,Unnamed: 0,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
0,0,https://twitter.com/SOML_Journal/status/162686...,2023-02-18 08:37:57+00:00,CHECKING IN | Drop a ❤️ and show yourself a li...,CHECKING IN | Drop a ❤️ and show yourself a li...,1626863578849370179,"{'username': 'SOML_Journal', 'id': 14225617004...",0,0,0,...,NaN,NaN,NaN,NaN,NaN,"['mentalhealth', 'wellbeing', 'goalsetting']",NaN,NaN,NaN,NaN
1,1,https://twitter.com/mental_updates/status/1626...,2023-02-18 08:37:19+00:00,"[Highlight] Weekend podcast: Cate Blanchett, t...","[Highlight] Weekend podcast: Cate Blanchett, t...",1626863420761841666,"{'username': 'mental_updates', 'id': 144783305...",0,0,1,...,NaN,NaN,NaN,NaN,NaN,"['MentalHealthAwareness', 'MentalHealthMatter'...",NaN,"{'title': 'Weekend podcast: Cate Blanchett, th...",5.0,NaN
2,2,https://twitter.com/noraMental/status/16268632...,2023-02-18 08:36:42+00:00,Having a bad mood every once in a while is com...,Having a bad mood every once in a while is com...,1626863265761447938,"{'username': 'noraMental', 'id': 1510090342405...",0,0,0,...,NaN,NaN,NaN,NaN,NaN,"['MentalHealth', 'MentalHealthMatters', 'Thera...",NaN,NaN,NaN,NaN
3,3,https://twitter.com/bookabear15/status/1626862...,2023-02-18 08:35:18+00:00,I hate feeling invisible... unwanted... lonely...,I hate feeling invisible... unwanted... lonely...,1626862911556657153,"{'username': 'bookabear15', 'id': 160548928356...",1,0,1,...,NaN,NaN,NaN,NaN,NaN,"['depression', 'lonely', 'music']",NaN,NaN,5.0,NaN
4,4,https://twitter.com/zaylatwinkle/status/162686...,2023-02-18 08:35:05+00:00,CLUE 110\n\nhttps://t.co/TaEHVYBh4H\n\n #story...,CLUE 110\n\nzaylatwinkle.com\n\n #storytime #z...,1626862858821861379,"{'username': 'zaylatwinkle', 'id': 16114739139...",0,0,0,...,NaN,NaN,NaN,NaN,NaN,"['storytime', 'zaylatwinkle', 'clues', 'stars'...",NaN,NaN,236.0,NaN

In [89]:
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 30 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1000000 non-null  int64
 1   url               1000000 non-null  object
 2   date              1000000 non-null  object
 3   rawContent        1000000 non-null  object
 4   renderedContent   1000000 non-null  object
 5   id                1000000 non-null  int64
 6   user              1000000 non-null  object
 7   replyCount        1000000 non-null  int64
 8   retweetCount      1000000 non-null  int64
 9   likeCount         1000000 non-null  int64
 10  quoteCount        1000000 non-null  int64
 11  conversationId    1000000 non-null  int64
 12  lang              1000000 non-null  object
 13  source            1000000 non-null  object
 14  sourceUrl         1000000 non-null  object
 15  sourceLabel       1000000 non-null  object
 16  links             503997 non-null   object
 17  media             523064 non-null   object
 18  retweetedTweet    0 non-null        float64
 19  quotedTweet       55751 non-null    object
 20  inReplyToTweetId  0 non-null        float64
 21  inReplyToUser     0 non-null        float64
 22  mentionedUsers    215421 non-null   object
 23  coordinates       32967 non-null    object
 24  place             32961 non-null    object
 25  hashtags          999825 non-null   object
 26  cashtags          2124 non-null     object
 27  card              235613 non-null   object
 28  viewCount         211528 non-null   float64
 29  vibe              1849 non-null     object
dtypes: float64(4), int64(7), object(19)
memory usage: 228.9+ MB

In [90]:
df_orig['rawContent'].head()

0    CHECKING IN | Drop a ❤️ and show yourself a li...
1    [Highlight] Weekend podcast: Cate Blanchett, t...
2    Having a bad mood every once in a while is com...
3    I hate feeling invisible... unwanted... lonely...
4    CLUE 110\n\nhttps://t.co/TaEHVYBh4H\n\n #story...
Name: rawContent, dtype: object

In [91]:
#Extract only rawContent column for use
df= df_orig['rawContent']

df.rename("cleaned")
df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: rawContent
Non-Null Count    Dtype
--------------    -----
1000000 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

In [92]:
display(df)

0         CHECKING IN | Drop a ❤️ and show yourself a li...
1         [Highlight] Weekend podcast: Cate Blanchett, t...
2         Having a bad mood every once in a while is com...
3         I hate feeling invisible... unwanted... lonely...
4         CLUE 110\n\nhttps://t.co/TaEHVYBh4H\n\n #story...
                                ...
999995    Do I have post-pandemic PTSD?\n\nhttps://t.co/...
999996    This #MentalHealthAwareness Month, we encourag...
999997    This #weekend, @NIH_OITE suggests journaling a...
999998    Meet Saadia White (@AmazineAmazon), a #BestSel...
999999    May 24-25 is @ParentsvsVape's virtual Clear th...
Name: rawContent, Length: 1000000, dtype: object

In [93]:
#un-labelled data

#Apply normalizeTweet function to each row
df = df.apply(normalizeTweet)

#show first 5 rows of cleaned data
display(df.head())

#append original data for comparison
df = pd.concat([df_orig['rawContent'],df], axis=1)

#rename columns
df.columns = ['originaltweet', 'cleanedtweet']
display(df.head())

#export to csv
df.to_csv('cleaned_'+ file, index=False)

0    checking in drop a and show yourself a little ...
1    highlight weekend podcast cate blanchett the r...
2    having a bad mood every once in a while is com...
3    I hate feeling invisible unwanted lonely only ...
4    clue one hundred and ten storytime zaylatwinkl...
Name: rawContent, dtype: object

,originaltweet,cleanedtweet
0,CHECKING IN | Drop a ❤️ and show yourself a li...,checking in drop a and show yourself a little ...
1,"[Highlight] Weekend podcast: Cate Blanchett, t...",highlight weekend podcast cate blanchett the r...
2,Having a bad mood every once in a while is com...,having a bad mood every once in a while is com...
3,I hate feeling invisible... unwanted... lonely...,I hate feeling invisible unwanted lonely only ...
4,CLUE 110\n\nhttps://t.co/TaEHVYBh4H\n\n #story...,clue one hundred and ten storytime zaylatwinkl...

In [94]:
#labelled data

# #Apply normalizeTweet function to each row
# df = df.apply(normalizeTweet)

# #show first 5 rows of cleaned data
# display(df.head())

# #append original data for comparison
# df = pd.concat([df_orig['rawContent'],df,df_orig['label']], axis=1)

# #rename columns
# df.columns = ['originaltweet', 'cleanedtweet', 'label']
# display(df.head())

# #export to csv
# df.to_csv('cleaned_'+ file, index=False)

General Pre-Processing Steps:
- lowercase all
- Remove newlines
- Remove URLs
- Remove punctuation (for twitter only)
- Replace 2 or more spaces with 1 space
- Replace all instances of 3 or more letters with 2 letters
- Remove all instances of 3 or more repeated subsequent words (ex: "I love love love love you")
- Remove html tags (don't think there is any)
- Remove non-ascii characters
- Handling Bullet Points or similar (lists, tables etc.)
- Replace numbers with \<num\> token
- Detect foreign language and remove the entire item


Twitter Specific Pre-Processing Steps:
- Remove RT
- Remove @mentions and usernames for privacy
- Remove hashtags (remove hashtags (both symbol and respective word) for hashtags used in querying) (keep hashtags not used for querying (remove only the hashtag symbol but keep the word))

Reddit Specific Pre-Processing Steps:
- Only keep english text (twitter data was already filtered to english, reddit wasn't)
- Remove user mentions